/* Application styles could go here */
html{
    height:100%;
}
body{
    left:5px;
    right:5px;
    height:95%;
    font-family: Verdana,Geneva,sans-serif;
}

#git-version{
    float: right;
    font-size: 10pt;
    margin: 5px;
}

#menu{
    background-color: #DEDEDE;
    border:1px solid black;
    font-size: 10pt;
}

#header-line {
    font-size: 12pt;
    margin: 5px;
}

.form-group {
    margin-left: 5px;
}

#upload-result {
    margin-left: 5px;
}

#result-container{
    border:1px solid black; 
    overflow:auto;
    max-height:100%;
}

.result-pagination{
    width: 100%;
    text-align:center;
}

.indent {
    margin-left: 5px;
}

#catalogs-selector, #xsl-selector{
    height: 100px;
    background-color:white;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: auto;
}

#catalogs-selector > div{
    cursor:pointer;
    white-space: nowrap;
}

#catalogs-selector > .selected{
    background-color: #C9C9C9;
}

#xsl-selector > div{
    cursor:pointer;
    white-space: nowrap;
}

#xsl-selector > .selected{
    background-color: #C9C9C9;
}

#addSchema{
    /*display:none;*/
}

#newSchema{
    width: 600px;
}

.centered{
    width: 100%;
    text-align:center;
}

.middle{
    line-height: 1em;
    vertical-align: middle;
}

.toggleelement{
    border-top:1px solid black;
    border-bottom:1px solid black;;
}

button{
    background-image: none;
    padding-left:20px;
    padding-right:20px;
    margin: 5px 10px 5px 10px;
    cursor:pointer;
}

.valid{
    background-color: green;
}

.invalid{
    background-color: red;
}

.progressing{
    /*background-color:#00aa00;*/
    background-image: url('../images/ajax-loader-trans.gif');
    background-repeat: no-repeat;
    background-position: left center ;
}

.log{
    font-size: 8px;
}

.success{
    color:green;
}

.error{
    color:red;
}

#header {
    font-size: 20pt;
    margin-left: 10px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

#footer {
    font-size: 9pt;
    margin-top: 20px;
    font-family: Verdana,Geneva,sans-serif;
}

p img {
    margin-left: 10px;
    margin-right: 30px;
    vertical-align: top;
}

p b {
    font-size: 8.5pt;
}
